h1 {
  font-weight: 700;
  font-size: 45px;
  margin: 10px;
  margin-bottom: 20px;
}

input {
  width: 100%;
}

.items-container {
  text-align: left;
}

.la-row {
  margin: 10px 8px;
}

.la-btn {
  min-width: 100px;
}